.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-top : -150px;
    margin-bottom: -250px;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.product_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-width: 100px;
  text-align:center;
}
.home__container{
    margin: 0 auto; 
    text-align: center;
    flex-wrap: wrap;
}
.produt__details{
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: white;  
  background: white;
  height: 100%;
  width:100%;
  max-width:250px;
  min-width: 300px;
  min-height: 300px;
  max-height: 350px;
  margin: 15px;
  padding: 10px; 
  border-radius : 20px;
}
#btn > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    padding: 3px 9px ;
}
#rating{
  display: flex;
  margin: 3px;
}

#pic {
  width:100%;
  max-width:200px;
}